{% extends "base.html" %}

{% block body %}
<script type="text/javascript">
    $(document).ready(function(){
        function switch_editor(item_id){
            var lbl = $('#meta-content-value-' + item_id);
            var editor = $('#inline-editor-'+ item_id);
            if (editor.hasClass('hidden')){
                editor.removeClass('hidden');
                lbl.hide();
            }else{
                editor.addClass('hidden');
                lbl.show();
            }
        }
        $('.edit_metadata').click(function(){
            var item_id = $(this).data('meta-id');
            $('#inline-editor-' + item_id + " textarea").val($('#meta-content-value-' + item_id).text());
            switch_editor(item_id);
        });
        $('.meta-edit-save').click(function(){
            var item_id = $(this).parents('td').data('meta-id');
            var old_value = $('#meta-content-value-' + item_id).text();
            var new_value = $('#inline-editor-' + item_id + " textarea").val();
            if ((old_value != new_value) && (new_value != "")){
                $.ajax({
                    url: '/metadata/' + item_id + '/edit',
                    data: {'new_value': new_value},
                    method: 'POST'

                }).done(function(){
                    $('#meta-content-value-' + item_id).text(new_value);
                }).fail(function(e){
                    alert('Error during saving', e);
                });
            }
            switch_editor(item_id);
        });
        $('.meta-edit-cancel').click(function(){
            var item_id = $(this).parents('td').data('meta-id');
            switch_editor(item_id);
        });
    });
</script>
<div class="container">
    {% if item.is_image() %}
        <div class="image-wrapper">
            <img class="img-rounded image-preview" src="/data/{{ item.filename }}" align="center"/>
        </div>
    {% endif %}

    <table class="table">
        <tr>
            <td>Filename</td>
            <td>{{ item.filename }}</td>
        </tr>
        <tr>
            <td>Path</td>
            <td>{{ item.path }}</td>
        </tr>
        <tr>
            <td>MimeType</td>
            <td>{{ item.mimetype}}</td>
        </tr>
        <tr>
            <td>Created</td>
            <td>{{ item.created_at }}</td>
        </tr>
        <tr>
            <td>Last update</td>
            <td>{{ item.updated_at }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ item.status.title }}</td>
        </tr>
    </table>
    <button class="btn btn-primary" data-toggle="modal" data-target=".add-metadata-modal">Add Metadata</button>

    {% if item.meta %}
        <h4> Metadata </h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Field name</th>
                    <th>Value</th>
                </tr>
            </thead>
            {% for meta in item.meta %}
                <tr>
                    <td>
                        {{ meta.field_info.name }}
                        <i
                            class="glyphicon glyphicon-info-sign info-popover"
                            data-container="body"
                            data-toggle="popover"
                            data-placement="right"
                            data-content="Description: {{ meta.field_info.description }}">
                        </i>
                    </td>
                    <td class="meta-content" data-meta-id="{{ meta.id }}">
                        <div id="meta-content-value-{{ meta.id}}">{{ meta.content}}</div>
                        <div id="inline-editor-{{ meta.id }}" class="hidden">
                            <textarea cols="40" rows="4">{{ meta.content}}</textarea><br/>
                            <button class="btn btn-success btn-xs meta-edit-save">Save</button>
                            <button class="btn btn-danger btn-xs meta-edit-cancel">Cancel</button>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-xs fl-left edit_metadata" data-meta-id="{{ meta.id }}">
                            <span class="glyphicon glyphicon-edit"></span>
                            Edit
                        </button>

                        <form method="POST" action="{{ url_for('delete_meta', meta_id=meta.id)}}">
                            <button class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-remove"></span> Delete
                            </button>
                        </form>

                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}


    <div class="modal fade add-metadata-modal" tabindex="-1" role="dialog" aria-labelledby="addMetadataLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form class="form-horizontal" action="{{ url_for('update_item', item_id=item.id)}}" method="POST">
            <fieldset>

            <!-- Form Name -->
            <legend class="form-legend">Add metadata</legend>

            <!-- Select Basic -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="metafield">Field type</label>
              <div class="col-md-6">
                <select id="metafield" name="metafield" class="form-control" required="">
                    {% for field in fields %}
                    <option value="{{ field.id }}"> {{ field.name }}</option>
                    {% endfor %}
                </select>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="metavalue">Field value</label>
              <div class="col-md-6">
              <input id="metavalue" name="metavalue" type="text" placeholder="Enter your value" class="form-control input-md" required="">
              </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="save-meta"></label>
              <div class="col-md-6">
                <button id="save-meta" name="save-meta" class="btn btn-success">Save</button>
              </div>
            </div>

            </fieldset>
            </form>

        </div>
      </div>
    </div>






</div>
{% endblock %}