{% extends "base.html" %}

{% block body %}
    {% if items %}
        <div class="container">
            <div class="row col-md-12 custyle">
                {% if title %}
                    <h3>{{ title }}</h3>
                {% endif %}

            <table class="table table-striped custab">
            <thead>
                <tr>
                    <th>Filename</th>
                    <th>Updated</th>
                    <th>Status</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            {% for item in items %}
                <tr>
                    <td><a href="{{url_for('view_item', item_id=item.id)}}">{{ item.filename }}</a></td>
                    <td>{{ item.updated_at }}</td>
                    <td>{{ item.status.title }}</td>

                    {% if item.status.db == item.STATUS.DELETED.db %}
                        <td class="text-center">
                            <form method="POST" action="{{ url_for('change_status', item_id=item.id)}}">
                                <input type="hidden" name="status" id="status" value="{{item.STATUS.NORMAL.db}}"/>
                                <button class="btn btn-success btn-xs">
                                    <span class="glyphicon glyphicon-refresh"></span> Recover
                                </button>
                            </form>
                        </td>
                    {% else %}
                        <td class="text-center">
                            <form method="POST" action="{{ url_for('change_status', item_id=item.id)}}">
                                <input type="hidden" name="status" id="status" value="{{item.STATUS.DELETED.db}}"/>
                                <button class="btn btn-danger btn-xs">
                                    <span class="glyphicon glyphicon-remove"></span> Delete
                                </button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </table>
            </div>
        </div>
    {% else %}
        <h1> No items found! </h1>
    {% endif %}
{% endblock %}